.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.user-details-container::before {
	content: "";
	border: solid white;
	border-top-color: white;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	width: 0;
	height: 0;
	position: absolute;
	top: -8px;
	left: 75%;
	rotate: 180deg;
}

.form-error {
	@apply text-red-600;
}

.email-error::before {
	content: "";
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url("../src/assets/images/crossCircle.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.snap-x {
	scroll-snap-type: x mandatory;
}

.snap-start {
	scroll-snap-align: start;
}

.slick-list {
	overflow: visible !important;
}

/* Add a gap between slides */
.slick-slide > div {
	margin: 0 0.5rem; /* Add 0.5rem margin on both sides (total 1rem gap) */
}

/* Ensure the first and last slides align properly */
.slick-list {
	margin: 0 -0.5rem !important; /* Compensate for the margin added to slides */
}

.slick-prev {
	left: 10px !important;
	z-index: 1;
}

.slick-next {
	right: 30px !important;
}

.slick-prev:before,
.slick-next:before {
	font-size: 35px !important;
}

.movie-card-hover {
	animation: scaleUp 0.2s ease-in-out forwards;
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);
	}
}

@keyframes scaleDown {
	0% {
		transform: scale(1.3);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.scale-down {
	animation: scaleDown 0.2s ease-in-out forwards;
}

@media (max-width: 1023px) {
	.slick-prev {
		left: -15px !important;
	}

	.slick-next {
		right: -1px !important;
	}
}

@media (max-width: 600px) {
	.slick-prev:before,
	.slick-next:before {
		font-size: 25px !important;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
